body {
  background-color: #293940;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/ .nav {
  height: 50px;
}

h2,
p,
h1,
h3 {
  color: white;
}
