.App {
  text-align: center;
}

.catmovie {
  list-style: none;
}
.homeheader {
  border: 5px solid#f25a38;
  padding-top: 50px;
  padding-bottom: 50px;
}

.backtohome-btn {
  margin: 20px;
}

button {
  padding: 5px;
  background: #f25a38;
  color: white;
  font-weight: bold;
}

a {
  color: white;
}

h2,
p,
h1,
h3 {
  color: white;
}

/* .App-link {
  color: #09d3ac;
} */

.nav-item {
  padding: 10px;
}

.poster {
  margin: 20px;
  width: 30%;
  height: 30%;
}

.backtoHome,
.updatecat {
  margin: 10px;
}
